.HotProductCard {
  border: 1px solid lightgrey;
  border-radius: 1rem;
  width: 17rem;
  height: 19.5rem;
  background-color: hsl(var(--b1));
  justify-self: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.HotProductCard img {
  height: 10rem;
  overflow: hidden;
  object-fit: cover;
}

.HotProductCard:hover {
  box-shadow: 0 10px 15px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  transform: translateY(-0.8rem);
  cursor: pointer;
}

.Title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.HotProductCard > div {
  padding-inline: 1rem;
  padding-block: 0.75rem;
}
