.carousel {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carouselInner {
  white-space: nowrap;
  transition: ease 1s;
}

.carouselImg {
  display: inline-block;
  width: 100%;
}

.carouselControl {
  border: none;
  display: flex;
  position: absolute;
  height: 100%;
  width: 15%;
  color: #f3f3f3;
  cursor: pointer;
  justify-content: center;
}

.carousel:hover .left,
.carousel:hover .right {
  opacity: 1;
}

.left {
  opacity: 0;
  transition: all 1s ease;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  left: 0;
}
.right {
  opacity: 0;
  transition: all 0.8s ease;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  right: 0;
}

.active {
  opacity: 1;
}
